<div class="container-search">
  <h1>Las noticias de ahora</h1>
  <div class="form">
    <form action="/search" method="get" class="searchbar">
      <input type="text" name="query" id="" placeholder="Buscar noticia" />
      <button type="submit"><img
          src="../imgs/search icon.png"
          alt=""
        /></button>
    </form>
  </div>
  <div class="container-news">
    {{#each articles}}
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card">
          <div class="card-body">
            <img
              class="title-img"
              src="{{this.urlToImage}}"
              alt="{{this.title}}"
            />
<<<<<<< HEAD
            <h4 class="card-title" id="title">{{this.title}}</h4>
            <form action="/article">
                <button type="submit">More about this!</button>
            </form>
          </div>
        </div>
      </div>
=======
            <h4 class="card-title">{{this.title}}</h4>
            <button class="modal-btn">More about this!</button>
          </div>
        </div>
      </div>
      <div class="modal-bg">
        <div class="modal">
          <h2>{{this.title}}</h2>
          <p>{{this.description}}</p>
          <p>{{this.publishedAt}}</p>
          <img
            class="title-img"
            src="{{this.urlToImage}}"
            alt="{{this.title}}"
          />
          <span class="modal-close" style="font-size: 25px;">Close</span>
        </div>
      </div>
>>>>>>> e0321d1787ec177806cc23da4f69128245887330
    {{/each}}
  </div>
</div>